/*variables*/

$color-dark: #000;
$color-ligh: #fff;
$font-main: 'Cabin Sketch',
cursive;
$toggleBgColor: rgba(255, 255, 255, 0);
$toggleBtnColor: #dfdfdf;
$toggleActiveColor: #0094e0;
$toggleInactiveColor: #aaa;
$toggleHeight: 70px;
$toggleWidth: 125px;
$borderWidth: 5px;
$toggleBtnRadius: 50px;
$toggleBtnColor: #f9f8f6;
$toggleShadowColor: #333;
$toggleShadowColor: rgb(93, 94, 95);
$toggleInactiveColor: #aaa;
$toggleActiveColor: #FF9900;
$toggleInactiveColor: #ccc;
$bgColor--sad: #db346c;

/*outside circle*/

$borderColor--sad: rgb(117, 115, 115);
$bgColor--happy: #0094e0;
$borderColor--happy: #AD1000;
$emojiWidth: 36px;
$emojiBgColor: #f2dd68;
$emojiBorderColor: #e5ce5e;
$emojiColor: #1c0874;
$emojiColorAlt: #3c2bd8;
$toggleBtnColor: #dfdfdf;
$toggleActiveColor: #0094e0;

/*general*/

// .a13 {
//     border: 2px solid yellow;
// }
// .a14 {
//     border: 2px solid rgb(1, 20, 20);
// }
// .a15 {
//     border: 2px solid rgb(250, 1, 1);
// }
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.content {
    background-image: url(/images/background_t2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    position: relative;
}


/*game*/

.box {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 380px;
    left: 610px;
    // animation-duration: 3s;
    // animation-name: fadeInUp;
    // animation: fadeInUp 1s linear;
}

// .box {
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     flex-direction: column-reverse;
// }
#messages {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $color-dark;
    padding: 1rem;
    font-family: $font-main;
    font-size: 20px;
    background-color: $color-ligh;
    width: 300px;
    height: 100px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px $color-dark;
}

#buttons div {
    margin: 1rem 1rem;
}

.x {
    background-color: rgb(42, 49, 42);
    /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    transition: 1ms linear all;
    box-shadow: 5px 5px 10px $color-dark;
}

.x:hover {
    background-color: rgb(61, 80, 122);
    box-shadow: 5px 5px 15px $color-dark;
}

.x:active {
    background-color: rgb(245, 245, 245);
    color: rgb(2, 255, 65);
}


/*Results*/

#game_panel {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1.8;
    color: $color-dark;
    padding: 1rem;
    font-family: $font-main;
    font-size: 20px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 100%;
    color: $color-ligh;
}

#panel {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    position: absolute;
    top: 255px;
    left: 144px;
}

.statistics {
    width: 20px;
    height: 20px;
}

#buttons {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
}

#results {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.8;
    color: $color-dark;
    padding: 1rem;
    font-family: $font-main;
    font-size: 20px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 300px;
    height: 100px;
    color: $color-ligh;
    padding-bottom: 5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.anim {
    animation: fadeInUp 1s linear;
}

.anim_out {
    animation: fadeInOut 1s linear;
}

.anim_beep {
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(248, 3, 3, 0.2);
    }
    100% {
        box-shadow: 0 0 10px 10px rgba(250, 6, 6, 1);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(100, 0, 0);
    }
}

@keyframes fadeInOut {
    from {
        opacity: 1;
        transform: translate3d(100, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

#results span {
    color: rgb(109, 119, 255);
}

.active {
    background: teal;
    color: #fff;
    visibility: visible;
    animation: fadeInUp 1s linear;
}

.none {
    opacity: 0;
}

.boxi {
    background-color: #218D9B;
    height: 100px;
    width: 100px;
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.transform-active {
    background-color: #45CEE0;
    height: 200px;
    width: 200px;
}


/* on/off button */

.toggle {
    display: block;
    text-align: center;
    margin-top: 40px;
    user-select: none;
}

.toggle--checkbox {
    display: none;
}

.toggle--btn {
    display: block;
    margin: 0 auto;
    font-size: 1.4em;
    transition: all 350ms ease-in;
    &:hover {
        cursor: pointer;
    }
}

.toggle--btn,
.toggle--checkbox {
    &,
    &:before,
    &:after {
        transition: all 250ms ease-in;
    }
    &:before,
    &:after {
        content: '';
        display: block;
    }
}

.toggle--btn {
    border: $borderWidth solid $borderColor--sad;
    background-color: $bgColor--sad;
    //toggle button
    &:before {
        background-color: $emojiBgColor;
        border: $borderWidth solid $emojiBorderColor;
    }
}


/*Push button toggle*/

.toggle--push {
    & .toggle--btn {
        position: relative;
        width: $toggleBtnRadius;
        height: $toggleBtnRadius;
        background-color: $toggleBtnColor;
        border-radius: 50%;
        box-shadow: 0 5px 10px 0px $toggleShadowColor, 0 15px 20px 0px lighten($toggleShadowColor, 60%);
        &,
        &:before,
        &:after {
            transition-duration: 150ms;
        }
        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #fff;
            box-shadow: inset 0 0 0 5px $toggleInactiveColor, inset 0 0 0 14px $toggleBtnColor;
        }
        &:after {
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 12px;
            background-color: #fff;
            box-shadow: 0 0 0 2.5px $toggleBtnColor;
        }
        &:hover {
            &:before {
                box-shadow: inset 0 0 0 5px darken($toggleInactiveColor, 10%), inset 0 0 0 14px $toggleBtnColor;
            }
            &:after {
                background-color: #fff;
            }
        }
    }
    & .toggle--checkbox {
        &:checked {
            &+.toggle--btn {
                box-shadow: 0 2px 5px 0px lighten($toggleShadowColor, 30%), 0 15px 20px 0px transparent;
                &:before {
                    box-shadow: inset 0 0 0 5px $toggleActiveColor, inset 0 0 0 14px $toggleBtnColor;
                }
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
}

.toggle--push--glow {
    background: $toggleBgColor;
    padding: 0 0;
    margin-bottom: 0px;
    & .toggle--btn {
        background-color: #fff;
        box-shadow: 0 5px 10px 0px $toggleShadowColor, 0 0 0 3px lighten($toggleBgColor, 20%), 0 0 8px 2px transparent, 0 0 0 6px lighten($toggleBgColor, 50%);
        &:before {
            box-shadow: inset 0 0 0 5px $toggleInactiveColor, inset 0 0 0 14px $toggleBtnColor;
        }
        &:after {
            background-color: #fff;
            box-shadow: 0 0 0 2.5px $toggleBtnColor;
        }
        &:hover {
            &:before {
                box-shadow: inset 0 0 0 5px darken($toggleInactiveColor, 20%), inset 0 0 0 14px $toggleBtnColor;
            }
            &:after {
                background-color: #fff;
            }
        }
    }
    & .toggle--checkbox {
        &:checked {
            &+.toggle--btn {
                box-shadow: 0 0px 8px 0 darken($toggleActiveColor, 10%), 0 0 0 3px $toggleActiveColor, 0 0 30px 0 $toggleActiveColor, 0 0 0 6px lighten($toggleBgColor, 40%);
                &:before {
                    box-shadow: inset 0 0 0 5px $toggleActiveColor, inset 0 0 0 14px $toggleBtnColor;
                }
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
}

.robo-nose {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
}

.robo-nose .toggle {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .robo-nose .beep_platform {
//     position: absolute;
//     top: 20%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 5px;
//     height: 5px;
//     border-radius: 100%;
//     background: rgb(255, 0, 0);
//     // position: absolute;
//     // top: 10%;
//     // left: 48%;
// }
.robo-nose .beep {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 10%;
    left: 50%;
}